<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="../static/css/drowsy.css">
    <title>Drowsiness Detection</title>
</head>
<body>
    <div class="moving">
        <div class="moving-bg"></div>
    </div> 
    <div class="welcome-msg">
        <h1>DRIVER DROWSINESS DETECTION</h1>
        <p class="para">Majority of accidents happen due to the drowsiness of the driver. So, to alert the driver we built this software .</p> 
        <a href="/project"  class="btn btn-implementation">Click here</a>
    </div>
</body>
</html>    