<html>
    <head>
        <title> SAFE DRIVING SYSTEM</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
   <body>
        <section class="header">
            <video autoplay loop class="video-background" muted plays-inline>
                <source src="../static/css/road.mp4" type="video/mp4">
            </video>
            <h2 class="logo">LaconicRebels</h2>
            <div class="welcome-msg">
                <h1>SAFE DRIVING SYSTEM</h1>
                <a href="../templates/introduction.html" class="btn btn-Introduction">Introduction</a>
                <a href="../templates/drowsiness.html" class="btn btn-Drowsiness">Driver Drowsiness Detection</a>
                <a href="../templates/seatbelt.html" class="btn btn-Seatbelt">Seatbelt Detection</a>
            </div>
        </section>
   </body> 
</html>