<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="../static/css/stylesheet.css">
    <title>Introduction</title>
</head>
<body>
    <div class="moving">
        <div class="moving-bg"></div>
    </div>
    <div class="welcome-msg">
        <h1>INTRODUCTION</h1>
        <p class="para">The Safe system approach  marks a shift from a sole focus on crash reduction to the elimination of death and injury.
            A system-wide intervention strategy addressing all crash-phases and all safe system elements is to be adopted,which addresses the safety of all road users.
            The best drivers are aware that they must be beware.Safe System approaches typically aim to develop a road transport system that is better able to accommodate human error by providing a safe operating environment - despite human fallibility - and providing effective post-crash care.</p>
    </div>
</body>
</html>