<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="../static/css/seatbelt.css">
    <title>Seatbelt Detection</title>
</head>
<body>
    <div class="moving">
        <div class="moving-bg"></div>
    </div>
    <div class="welcome-msg">
        <h1>SEATBELT DETECTION</h1>
        <p class="para">Seat belt detection systems in cars cannot actually tell if someone is wearing theirs correctly since they only detect whether it has clicked in<br>In order to keep a person who is travelling in the vehicle securely restrained in a vehicle seat during the ride, it is common to provide each vehicle seat with a seat belt.In order to keep a person who is travelling in the vehicle securely restrained in a vehicle seat during the ride, it is common to provide each vehicle seat with a seat belt.</p>
        <a href="/project"  class="btn btn-implementation">Click here
        </a>
    </div>    
</body>
</html>    